.arrival {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  // invert color
  background-color: var(--body-bg);
  color: var(--body-color);

  //   elegant border
  border: 3px solid var(--border-color);
  border-radius: 6px;
  //   border-bottom-width: 0.25px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem;

  &:last-child {
    border-bottom-width: 3px;
  }

  h3,
  p {
    text-align: left;
    margin: 0.24rem 0;
  }
  .label {
    font-size: 24px;
    // opacity: 0.7;
    font-weight: 400;
    filter: invert(0.5);
  }

  h3 {
    text-transform: capitalize;
  }

  .time {
    color: var(--body-color);
    opacity: 1;
    font-size: 48px;
    font-weight: 700;
    font-family: "Roboto Mono", "Courier New", Courier, monospace;
    margin-right: 1rem;
  }

  .logo {
    --size: 5.2rem;
    margin: auto 1rem;
    &,
    img {
      display: block;
      height: var(--size);
      width: var(--size);
    }
    &.custom {
      color: white;
      border-radius: 100%;
      background-color: #c03;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto Mono", "Courier New", Courier, monospace;
      font-size: 3.4rem;
      font-weight: 900;
      position: relative;
      span {
        position: relative;
        left: 1px;
        // top: 2px;
      }
    }
  }
}
